
body{ 
    background-color: aliceblue;
    font-family:'raleway', sans-serif;
}
h2{
    color: blue;
    font-size: 150;
}
#menu{
    color:black;
    font-family: sans-serif;
    background-color: brown;
}
#logo{
    font-size: 200;
}
#navigation{
    border: 15px;
}
#titre{ 
    text-align: center;
    color: coral;
    
}
