body 

{ 
    background-color: aliceblue;
    font-family:'raleway', sans-serif;
    margin: auto;
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
}


h1{
   font-family: 'chalkduster'; 
   font-size: 400;
   text-align:center;
   margin-top: 100px;
   margin-right: 100px;
   margin-left: 100px;
   margin-bottom: 100px;
}

h2{
    font-family: 'chalkduster';
    color: black;
    font-size: 150;
    border-style: solid;
    border-color: orange;
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 100px;



}
#menu{
    color:black;
    font-family: sans-serif;
    background-color: brown;
    border-style: solid;
    border-color: orange;
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
}
#logo{
    font-size: 200;
}
#navigation{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 15px;
}
#titre{ 
    text-align: center;
    color: coral;
    
}

table{
    border-collapse:collapse;
    align-content:center;

}
.logo {
    width: 25px;
    height:25px;
}
.restaurant {
    width: 400px;
    height:300px;
}

td {
    padding: 0 20px 0 20px;
    width: 50%;
    margin-left:auto;
    margin-right: auto;

}

photos {
    margin-left:auto;
    margin-right: auto;
}

tab-box inverse {
    margin-left: 15px;
    margin-right: 15px;
    box-sizing: border-box
}
.vertical {
    width: 300px;
    height: 450px;
}  

.horizontal-opacity{
    width: 350px;
    height: 250px;
}  

.horizontal-opacity img {
    filter: opacity(100%);
    -webkit-filter: opacity(100%);
    }
.horizontal-opacity img:hover {
    filter: opacity(50%);
    -webkit-filter: opacity(50%);
    }

.Navigation {
   position: fixed;
   left: 0;
   right: 0;
   height: 60px;
   background-color: brown;
   top: 0;
}
.navigation { 
    padding: 5px;
    padding-left: 100px;
    

}
.navigation col {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    color: #FFF;
    transition: all 0.1s ease 0.2s
}
.navigation col:hover {
    color: #62bcda;
    transition: all 0.3s ease 0.2s;
}
.container {
   height: 950px; 
 }
#logo {
height: 35px;
width: 35px;

}
#Reseaux{
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: orange;
    border-style: solid;
    border-color: orangered;
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
    }
