
body{ 
    background-color: aliceblue;
    font-family:'raleway', sans-serif;
    margin: auto;
}

h1{
   font-family: 'chalkduster'; 
   font-size: 400;
   text-align:center;
}

h2{
    color: black;
    font-size: 150;

}
#menu{
    color:black;
    font-family: sans-serif;
    background-color: brown;
}
#logo{
    font-size: 200;
}
#navigation{
    border: 15px;
}
#titre{ 
    text-align: center;
    color: coral;
    
}

table{
    border-collapse:collapse;
    align-content:center;

}

.restaurant {
    width: 400px;
    height:300px;
}

td {
    padding: 0 20px 0 20px;
    width: 50%;
    margin-left:auto;
    margin-right: auto;
}
.vertical {
    width: 300px;
    height: 450px;
}  

.horizontal {
    width: 400px;
    height: 250px;
}  

.Navigation {
   position: fixed;
   left: 0;
   right: 0;
   height: 60px;
   background-color: brown;
}
.navigation { 
    padding: 10px;
    padding-left: 600px;

}
.navigation col {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    color: #FFF;
    transition: all 0.1s ease 0.2s
}
.navigation col:hover {
    color: #62bcda;
    transition: all 0.3s ease 0.2s;
}
.separator{
    height: 10px;
    background-color: red;
}
.container {
   height: 950px; 
 }